* {
  /*border: 1px dotted red;*/
  box-sizing: border-box;
}

body {
  margin:0;
  font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
}


div.header ul {
  list-style-type: none; /* removes bullets from a list */
  margin:0px;
  /*padding:5px 0 0 10px;*/
}

div.header ul li {
  display:inline;
}
.left {
  float:left;
}

.main-menu {
  padding:5px 0 0 10px;
}

.header {
  padding: 35px;
  position:relative;
}

.container {
  width:1088px;
  margin: 0 auto;
}


#logo {
  display: inline;
  float:left;
}

.login-form {
  position:relative;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  border: #e0e0e0 1px solid;
  padding:10px;
}

.right {
  float:right;
}

.widget {
  width: 448px;
  padding: 20px 5px 5px 10px;
  border: 1px dotted red;
}

.widget ul {
  margin:0;
  padding-left:0;
}
.widget li {
  list-style-type: none;
  margin:0;
}
.hero-unit {
  padding-top:160px;
  background-image:url('./assets/bg.jpg');
}

.cta {
  width:535px;
}
